<nav class="nav">
  <div class="nav__inner">
    <a class="nav__brand" href="{{ '/' | relative_url }}">
      <span class="nav__prompt">henk@www</span><span class="nav__sep">:</span><span class="nav__path">~</span><span class="nav__dollar">$</span>
    </a>
    <ul class="nav__links">
      <li><a href="{{ '/writeups/' | relative_url }}">writeups</a></li>
      <li><a href="{{ '/cheatsheets/' | relative_url }}">cheatsheets</a></li>
      <li><a href="{{ '/blog/' | relative_url }}">blog</a></li>
      <li><a href="{{ '/about/' | relative_url }}">about</a></li>
    </ul>
  </div>
</nav>
